<ion-view view-title="Add a Program">
  <ion-content>
    <div class="item">Enter the URL of a program you'd like to play:</div>
    <label class="item item-input">
      <input type="text" placeholder="Program URL" ng-model="programURL" ng-change="onUpdateURL(programURL)">
    </label>

    <br>

    <!-- TODO(neel): extract styles out of inline -->

    <div class="list card" style="max-width: 200px; margin: auto;" ng-if="programId">

      <!-- <div class="item">
        <h2></h2>
      </div> -->

      <div class="item item-image">
        <img ng-src="{{thumbnailUrl}}" alt="That isn't a valid program URL! :(">
      </div>

      <a class="item item-icon-left assertive" href="#/app/play/{{programId}}">
        <i class="icon ion-play"></i>
        Play
      </a>

    </div>
  </ion-content>
</ion-view>
