<ion-view view-title="Add a Program">
    <ion-content>
        <div class="item">Enter the URL or ID of a program you'd like to play:</div>
        <label class="item item-input">
            <input type="text" placeholder="Program URL or ID" ng-model="programURL" ng-change="onUpdateURL(programURL)">
        </label>

        <br>

        <div ng-if="programURL && !loading">
            <!-- If program was successfully loaded -->
            <div class="list card" style="max-width: 200px; margin: auto;" ng-if="program">
                <div class="item">
                    <h2>{{program.title}}</h2>
                </div>
                <div class="item item-image">
                    <img ng-src="{{program.imageURL}}">
                </div>
                <a class="item item-icon-left assertive" href="#/app/play/{{program.id}}">
                    <i class="icon ion-play"></i> Play
                </a>
                <a class="item item-icon-left positive" href="#/app/favorites" ng-click="addFavorite()">
                    <i class="icon ion-ios-star"></i> Add to favorites
                </a>
            </div>

            <!-- if ID was malformed and no program was loaded -->
            <div class="list card" ng-if="!program">
                <div class="item assertive">
                    <i class="icon ion-sad-outline"></i>
                    Program not found!
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
