<ion-view view-title="Browse">
  <ion-tabs class="tabs-icon-top">
    <ion-tab title="Hot" icon-on="ion-flame" icon-off="ion-flame">
      <ion-content>
        <ion-refresher
          pulling-text="Pull to refresh..."
          on-refresh="doRefresh()">
        </ion-refresher>
        <kaplayer-program-list info="categories.hot" />
      </ion-content>
    </ion-tab>
    <ion-tab title="Recent" icon-on="ion-clock" icon-off="ion-clock">
      <ion-content>
        <ion-refresher
          pulling-text="Pull to refresh..."
          on-refresh="doRefresh()">
        </ion-refresher>
        <kaplayer-program-list info="categories.recent" />
      </ion-content>
    </ion-tab>
    <ion-tab title="Contests" icon-on="ion-ribbon-b" icon-off="ion-ribbon-b">
      <ion-content>
        <ion-refresher
          pulling-text="Pull to refresh..."
          on-refresh="doRefresh()">
        </ion-refresher>
        <kaplayer-program-list info="categories.contest" />
      </ion-content>
    </ion-tab>
    <ion-tab title="Top" icon-on="ion-planet" icon-off="ion-planet">
      <ion-content>
        <ion-refresher
          pulling-text="Pull to refresh..."
          on-refresh="doRefresh()">
        </ion-refresher>
        <kaplayer-program-list info="categories.top" />
      </ion-content>
    </ion-tab>
  </ion-tabs>
</ion-view>
