<ion-view view-title="Browse">
  <ion-tabs class="tabs-positive tabs-icon-only">
    <ion-tab title="Hot" icon-on="ion-flame" icon-off="ion-flame">
      <ion-content>
        <ion-list>
          <ion-item class="item item-thumbnail-left" ng-repeat="program in categories.hot" href="#/app/play/{{program.id}}">
            <img ng-src="{{program.imageURL}}" style="">
            <h2>{{program.title}}</h2>
            <h4>{{program.voteCount}} Votes &middot; {{program.spinoffCount}} Spin-offs</h4>
            <p>{{program.description}}</p>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-tab>
    <ion-tab title="Recent" icon-on="ion-clock" icon-off="ion-clock">
      <ion-content>
        <ion-list>
          <ion-item class="item item-thumbnail-left" ng-repeat="program in recent_programs.programs" href="#/app/play/{{program.id}}">
            <img ng-src="{{program.image}}" style="">
            <h2>{{program.title}}</h2>
            <h4>{{program.voteCount}} Votes &middot; {{program.spinoffCount}} Spin-offs</h4>
            <p>{{program.description}}</p>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-tab>
    <ion-tab title="Contests" icon-on="ion-ribbon-b" icon-off="ion-ribbon-b">
      <ion-content>
        <ion-list>
          <ion-item class="item item-thumbnail-left" ng-repeat="program in contest_programs.programs" href="#/app/play/{{program.id}}">
            <img ng-src="{{program.image}}" style="">
            <h2>{{program.title}}</h2>
            <h4>{{program.voteCount}} Votes &middot; {{program.spinoffCount}} Spin-offs</h4>
            <p>{{program.description}}</p>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-tab>
    <ion-tab title="Top" icon-on="ion-planet" icon-off="ion-planet">
      <ion-content>
        <ion-list>
          <ion-item class="item item-thumbnail-left" ng-repeat="program in top_programs.programs" href="#/app/play/{{program.id}}">
            <img ng-src="{{program.image}}" style="">
            <h2>{{program.title}}</h2>
            <h4>{{program.voteCount}} Votes &middot; {{program.spinoffCount}} Spin-offs</h4>
            <p>{{program.description}}</p>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-tab>
  </ion-tabs>
</ion-view>
