<ion-view view-title="Create Your Own">
    <ion-content>
        <div class="card">
            <div class="item item-image">
                  <img src="https://www.khanacademy.org/images/domains/hopper_with_laptop.png" style="width: 297px;"></img>
            </div>

            <a class="item positive item-text-wrap" href="javascript:void 0;"
                onclick="window.open('https://www.khanacademy.org/cs/new', '_system')">
                <i class="icon ion-paintbrush"></i>
                Create a program on Khan Academy
              </a>

              <a class="item item-text-wrap" href="javascript:void 0;"
                  onclick="window.open('https://www.khanacademy.org/computing/computer-programming/programming', '_system')">
                  Learn how to draw and animate with JavaScript
              </a>

              <a class="item item-text-wrap" href="javascript:void 0;"
                  onclick="window.open('https://www.khanacademy.org/computing/computer-programming/html-css', '_system')">
                  Learn how to build webpages with HTML and CSS
              </a>

              <a class="item item-text-wrap" href="javascript:void 0;"
                  onclick="window.open('https://www.khanacademy.org/computing/computer-programming/programming-games-visualizations', '_system')">
                  Learn advanced JavaScript techniques for games and visualizations
              </a>
        </div>
    </ion-content>
</ion-view>
