<ion-view view-title="Make Your Own">
    <ion-content>
        <div class="item">
          <div style="white-space: normal;">Visit the Khan Academy <a href="https://www.khanacademy.org/computing/computer-programming/">computer programming curriculum</a> to make a new program!</div>
          <ul style="list-style-type: disc; padding-left: 50px; white-space: normal;">
            <li>Learn <a href="https://www.khanacademy.org/computing/computer-programming/programming">how to draw and animate</a> using JavaScript and ProcessingJS</li>
            <li>Learn <a href="https://www.khanacademy.org/computing/computer-programming/html-css">how to use HTML and CSS</a> to make webpages</li>
            <li>Learn <a href="https://www.khanacademy.org/computing/computer-programming/programming-games-visualizations">advanced JavaScript techniques</a> for games and visualizations</li>
          </ul>
          <a class="button button-full button-positive" href="https://www.khanacademy.org/computer-programming/">
            Create
          </a>
          <img src="https://www.khanacademy.org/images/domains/hopper_with_laptop.png" style="width: 100%;"></img>
        </div>
    </ion-content>
</ion-view>
