<ion-view>
    <ion-nav-title>{{program.title}}</ion-nav-title>
    <ion-nav-buttons side="right">
        <button class="button button-dark button-clear" ng-click="refreshIframe()">
          <i class="icon ion-refresh"></i>
        </button>
        <button class="button button-dark button-clear" ng-click="markFavorite()">
          <i ng-class="{true: 'icon ion-ios-star', false: 'icon ion-ios-star-outline'}[program.favorite]"></i>
        </button>
    </ion-nav-buttons>
    <ion-content scroll="false">
      <iframe ng-src="{{url}}"
              width="{{iframeSize}}" height="{{iframeSize}}"
              style="transform: scale({{scaleFactor}}, {{scaleFactor}});
                transform-origin: top left;
                margin: auto;
                display: block;"
              scrolling="no"
              />
    </ion-content>
</ion-view>
