<ion-view view-title="Player">
    <ion-nav-buttons side="right">
        <button class="button button-energized button-clear" ng-click="markFavorite()">
          <i class="icon ion-ios-star"></i>
        </button>
    </ion-nav-buttons>
    <ion-content scroll="false">
      <iframe ng-src="{{url}}"
              width="{{iframeSize}}" height="{{iframeSize}}"
              style="transform: scale({{scaleFactor}}, {{scaleFactor}});
                transform-origin: top left;
                margin: auto;
                display: block;"
              scrolling="no"
              />
    </ion-content>
</ion-view>
